In [238]:
# importing necessary libraries
import pandas as pd
import numpy as np
import os
import seaborn as sns

In [239]:
#### Merging 12 months of data into a single csv
files = [file for file in os.listdir('./SalesData/')] #returns list of files

# empty data frame to store csvs
all_months_data = pd.DataFrame()

for file in files:
    df = pd.read_csv('./SalesData/'+file)
    all_months_data = pd.concat([all_months_data,df])

all_months_data.to_csv('all_data.csv', index=False)

In [240]:
#### Use new csv as the updated dataframe
all_data = pd.read_csv('all_data.csv')

all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [241]:
#### Data Cleaning

#checking for Nan
all_data.isnull().values.any() 

#remove Nan values
all_data = all_data.dropna(how='all')

In [242]:
#### Data Pre processing

# creating month column
all_data['Month'] = all_data['Order Date'].str[0:2]

In [243]:
# removing 'Or' values from data frame by making new dataframe without those values
df2 = all_data[all_data.Month != 'Or']

In [244]:
# making month into intiger from string
df2['Month'] = pd.to_numeric(df2['Month'])

# convert quantity ordered to int
df2['Quantity Ordered'] = pd.to_numeric(df2['Quantity Ordered'])

# convert price each to float
df2['Price Each'] = pd.to_numeric(df2['Price Each'])

C:\Users\Travis\AppData\Local\Temp\ipykernel_16696\1213017925.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Month'] = pd.to_numeric(df2['Month'])
C:\Users\Travis\AppData\Local\Temp\ipykernel_16696\1213017925.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Quantity Ordered'] = pd.to_numeric(df2['Quantity Ordered'])
C:\Users\Travis\AppData\Local\Temp\ipykernel_16696\1213017925.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Price Each'] = pd.to_numeric(df2['Price Each'])

In [245]:
df2['Sales Revenue'] = df2['Quantity Ordered'] * df2['Price Each']

C:\Users\Travis\AppData\Local\Temp\ipykernel_16696\2390548883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Sales Revenue'] = df2['Quantity Ordered'] * df2['Price Each']

In [246]:
df2.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales Revenue
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,11.99

In [247]:
# Creating Street city state and zip columns by splitting purchase address
df2[['Street', 'City', 'State and Zip']] = df2['Purchase Address'].str.split(',', expand=True)

C:\Users\Travis\AppData\Local\Temp\ipykernel_16696\211767529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[['Street', 'City', 'State and Zip']] = df2['Purchase Address'].str.split(',', expand=True)
C:\Users\Travis\AppData\Local\Temp\ipykernel_16696\211767529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[['Street', 'City', 'State and Zip']] = df2['Purchase Address'].str.split(',', expand=True)
C:\Users\Travis\AppData\Local\Temp\ipykernel_16696\211767529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[['Street', 'City', 'State and Zip']] = df2['Purchase Address'].str.split(',', expand=True)

In [248]:
# Remove extra spaces from head and tail of Street, City, State and zip
df2['Street'].str.strip()
df2['City'].str.strip()
df2['State and Zip'].str.strip()

0         TX 75001
2         MA 02215
3         CA 90001
4         CA 90001
5         CA 90001
            ...
186845    CA 90001
186846    CA 94016
186847    CA 94016
186848    CA 94016
186849    CA 94016
Name: State and Zip, Length: 185950, dtype: object

In [249]:
# Splitting State and Zip then dropping the old column

df2['State'] = df2['State and Zip'].str[0:3]
df2['Zip'] = df2['State and Zip'].str[4:]
df2 = df2.drop('State and Zip', axis=1)
df2 = df2.drop('Purchase Address',axis=1)

C:\Users\Travis\AppData\Local\Temp\ipykernel_16696\816296000.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['State'] = df2['State and Zip'].str[0:3]
C:\Users\Travis\AppData\Local\Temp\ipykernel_16696\816296000.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Zip'] = df2['State and Zip'].str[4:]

In [250]:
# Splitting order date into a purchase time column

df2['Purchase Time'] = df2['Order Date'].str[9:]

In [251]:
##### Data Analysis

# Question 1: what was the best month for sales? how much was earned that month?
Question1 = df2.groupby('Month').sum('Sales Revenue') # December was the largest sales month, $4613443.34


Question1.to_csv('Question1.csv') #exporting for visualization

In [252]:
# Question 2: what city sold the most product?
df2['City State'] = df2['City'] + ',' + df2['State']

In [253]:
Question2 = df2.groupby('City State').sum() 
# San Francisco CA sold the most product

Question2.to_csv('Question2.csv')

In [254]:
# Question 3 What time should we display advertisements to maximize the likelyhood of customers buying the product?

In [255]:
# Splitting out the purchase time to a higher level overview
df2['Purchase Hour'] = df2['Purchase Time'].str[0:2]

In [259]:
Question3 = df2.groupby('Purchase Hour').sum('Sales Revenue') 
#most purchases was at 7 PM aka 19 hour
Question3.to_csv('Question3.csv')

In [269]:
# Question 4: What Products are most often sold together?

# creating new data frame for duplicate order ID's
df3 = df2[df2['Order ID'].duplicated(keep=False)]

# creating new column to group together products that were bought together
df3['Products Grouped'] = df3.groupby('Order ID')['Product'].transform(lambda x:','.join(x))

# Dropping duplicate orders and grouped products already accounted for
df3 = df3[['Order ID', 'Products Grouped']].drop_duplicates()

C:\Users\Travis\AppData\Local\Temp\ipykernel_16696\3341248518.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Products Grouped'] = df3.groupby('Order ID')['Product'].transform(lambda x:','.join(x))

    Order ID                                   Products Grouped
3     176560                      Google Phone,Wired Headphones
18    176574                  Google Phone,USB-C Charging Cable
30    176585  Bose SoundSport Headphones,Bose SoundSport Hea...
32    176586                AAA Batteries (4-pack),Google Phone
119   176672      Lightning Charging Cable,USB-C Charging Cable

In [273]:
# importing new libraries
from itertools import combinations
from collections import Counter

In [277]:
# creating function to iterate through rows and count every pair that was bought together

count = Counter()

for row in df3['Products Grouped']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list,2))) # change 2 to 3 if you wanted to see most bought in pairs of 3

count.most_common(10)

[(('iPhone', 'Lightning Charging Cable'), 1005),
 (('Google Phone', 'USB-C Charging Cable'), 987),
 (('iPhone', 'Wired Headphones'), 447),
 (('Google Phone', 'Wired Headphones'), 414),
 (('Vareebadd Phone', 'USB-C Charging Cable'), 361),
 (('iPhone', 'Apple Airpods Headphones'), 360),
 (('Google Phone', 'Bose SoundSport Headphones'), 220),
 (('USB-C Charging Cable', 'Wired Headphones'), 160),
 (('Vareebadd Phone', 'Wired Headphones'), 143),
 (('Lightning Charging Cable', 'Wired Headphones'), 92)]

In [285]:
#creating new data frame to access list and convert to CSV

Question4 = pd.DataFrame(count.most_common(10))

Question4.to_csv('Question4.csv')

In [287]:
# Question 5: What product sold the most? Why?
Question5 = df2.groupby('Product').sum()

Question5.to_csv('Question5.csv')